@{
    ViewData["Title"] = "Anasayfa";
}
<div class="main-content">
    <style>
        .image-shadow {
            box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
            -webkit-box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
            -moz-box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
        }

        .working-area .content-part {
            min-height: 250px;
        }
        .blog-img{
            width:100% !important;
        }
        
        .blog-item .text-bottom{
            height:300px !important;
        }
    </style>
    <div id="rs-about" class="rs-about style1 mt-5 pt-120 pb-120 md-pt-80 md-pb-78">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-5 md-mb-30">
                    <img src="~/images/company/main-image.jpg" class="image-shadow" alt="">
                    @*<img src="/images/company/main-page-image.jpg" alt="">*@

                </div>
                <div class="col-lg-7 pl-45 md-pl-15">
                    <div class="sec-title mb-24">
                        <h2 class="title mb-0">CDU+Partners Hukuk Bürosu</h2>
                    </div>
                    <p class="des mb-36">
                        İstanbul merkezli bir hukuk bürosuyuz ve sizin hukuki ihtiyaçlarınızı çözmek için buradayız.

                        Misyonumuz, müvekkillerimize yüksek kalitede hukuki hizmetler sunarak adaletin korunmasına katkıda bulunmaktır. CDU Partners Hukuk Bürosu olarak, yılların deneyimi, uzmanlık ve kararlılıkla çalışmaktayız.

                        Müvekkillerimizin haklarını ve çıkarlarını korumak için büyük bir özveri ile çalışıyoruz. İhtiyacınıza uygun hukuki çözümler sunarak sizi en iyi şekilde temsil etmeye odaklanıyoruz.
                    </p>

                    <p>Biz Kimiz?</p>
                    <p class="des mb-36">

                        CDU Partners Hukuk Bürosu,  2019 yılında kurulmuş ve o günden bu yana hukuk alanında önemli bir iz bırakmıştır. Deneyimli avukatlarımız, danışmanlarımız ve destek ekibimiz, hukukun farklı alanlarındaki uzmanlıklarıyla tanınır.

                        Müvekkillerimize kişisel ve profesyonel hizmet sunmak için buradayız. Hukukun karmaşıklığını anlayarak, her bir vakaya dikkatle yaklaşıyor ve en iyi sonuçları elde etmek için çalışıyoruz.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- Our Practice Areas Start -->
    <div class="rs-our-practice style1 title-bg pt-114 pb-120 md-pt-72 md-pb-80">
        <div class="container">
            <div class="sec-title top-line text-center mb-49 xs-mb-31">
                <h2 class="title white-color mb-0">Çalışma Alanlarımız</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Danışmanlık</a></h4>
                            <div class="desc">
                                Hukuki konularda tavsiye ve rehberlik sağlarız.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Hukuk İşlemleri</a></h4>
                            <div class="desc">
                                Sözleşme hazırlama, dava dosyalama ve diğer hukuki işlemlerde size yardımcı oluruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Anlaşmazlık Çözümü</a></h4>
                            <div class="desc">Anlaşmazlıkların alternatif çözüm yollarını araştırır ve dava durumunda sizi temsil ederiz.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">İcra Hukuku</a></h4>
                            <div class="desc">
                                İcra hukukunda özel uzmanlık sunarak borç tahsilatı, icra takipleri ve yargı kararlarının icrası konularında müvekkillerimize yardımcı oluruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/6.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Ceza Hukuku</a></h4>
                            <div class="desc">Hızlı ekonomik büyüme ve artan yabancı yatırımlar, hukuki anlaşmazlıkların yanı sıra ceza soruşturma ve kovuşturmalarının da artmasına sebep olmaktadır. Bu alanda oluşan ihtiyaçları ve beklentileri uzman avukatlarımızla etkili bir biçimde karşılamaktayız.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/5.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">İş Hukuku</a></h4>
                            <div class="desc">
                                İşverenler ve çalışanlar arasındaki iş ilişkilerine dair hukuki konularda size destek sunarız.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">İdare Hukuku</a></h4>
                            <div class="desc">
                                İdari işlemler, idare ile ilgili davalarda hukuki danışmanlık sağlıyoruz.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Kira Hukuku</a></h4>
                            <div class="desc">
                                Kira sözleşmeleri, kiracı ve ev sahibi hakları ve kira hukuku konularında müvekillerimize yardımcı oluyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Tüketici Hukuku</a></h4>
                            <div class="desc">
                                Tüketicilerin haklarını koruma, tüketici hukuku davaları ve tüketici konuları
                                konusundaki uzmanlığımızla, müvekillerimizin adalet arayışlarına destek oluyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Aile Hukuku</a></h4>
                            <div class="desc">
                                Boşanma, velayet, nafaka, mal paylaşımı gibi aile hukuku konularında müvekillerimize destek sağlıyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Yabancılar Hukuku</a></h4>
                            <div class="desc">Yabancı vatandaşların vize, oturum izni, vatandaşlık ve diğer yabancılarla ilgili yasal süreçlerde rehberlik sağlarız ve hukuki çözümler üretiriz.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/4.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Miras Hukuku</a></h4>
                            <div class="desc">
                                Miras planlaması, mirasın dağıtılması ve miras anlaşmazlıkları konularında size rehberlik ederiz.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            @*            <div class="btn-area text-center pt-30">
            <a href="#" class="readon">View All Practice Areas</a>
            </div>*@
        </div>
    </div>
    <!-- Our Practice Areas END -->
    <!-- Our Case Result Start -->
    @*   <div class="rs-case-result style1 pt-114 pb-120 md-pt-72 md-pb-80">
    <div class="container">
    <div class="sec-title top-line text-center mb-51 xs-mb-31">
    <div class="sub-title primary">Our Success</div>
    <h2 class="title mb-0">Our Cases Result</h2>
    </div>
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
    <div class="item">
    <img src="images/case-result/1.jpg" alt="">
    <div class="result-contents">
    <h3 class="title"><a href="#">Capital Market</a></h3>
    <div class="categories"><a href="#">Risk Breach</a></div>
    </div>
    </div>
    <div class="item">
    <img src="images/case-result/2.jpg" alt="">
    <div class="result-contents">
    <h3 class="title"><a href="#">International Law</a></h3>
    <div class="categories"><a href="#">Risk Breach</a></div>
    </div>
    </div>
    <div class="item">
    <img src="images/case-result/3.jpg" alt="">
    <div class="result-contents">
    <h3 class="title"><a href="#">International Law</a></h3>
    <div class="categories"><a href="#">Risk Breach</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>*@
    <!-- Our Case Result END -->
    <!-- Team Inner Section Start -->
    @*  <div id="rs-team" class="rs-team-slider title-bg pt-120 pb-120 md-pt-72 md-pb-80">
    <div class="sec-title top-line text-center mb-51 xs-mb-31">
    <div class="sub-title primary">Our Attorney</div>
    <h2 class="title white-color mb-0">Meet Our Attorney</h2>
    </div>
    <div class="container">
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="true" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/1.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Rafian Sagar</a></h4>
    <span class="designation">CEO & Founder</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/2.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Istiac Hasan</a></h4>
    <span class="designation">Trial Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/3.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">John Mehta</a></h4>
    <span class="designation">Government Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/4.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Riaz Hasan</a></h4>
    <span class="designation">Trial Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/5.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Aston Dark</a></h4>
    <span class="designation">Bankruptcy Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/6.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Ketty Perry</a></h4>
    <span class="designation">Trial Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/7.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Donia Gomez</a></h4>
    <span class="designation">Government Lawyer</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/8.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Lelen Flower</a></h4>
    <span class="designation">Senior Attorney</span>
    </div>
    </div>
    <div class="team-item">
    <div class="team-image">
    <img src="images/team/9.jpg" alt="Team Image">
    <div class="team-social">
    <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    <div class="text-bottom">
    <h4 class="person-name"><a href="#">Maris Stone</a></h4>
    <span class="designation">Bankruptcy Lawyer</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@ <!-- Team Inner Section End -->
    <!-- Faq Section Start -->
    @*   <div class="rs-faq style1 pt-120 pb-120 md-pt-72 md-pb-80">
    <div class="container padding-0 md-pr-15 md-pl-15">
    <div class="content-wrap title-bg">
    <div class="row md-col-padding">
    <div class="col-lg-6 pr-0">
    <div class="faq-part">
    <div class="sec-title mb-45 xs-mb-31">
    <div class="sub-title primary">Any Questions ?</div>
    <h2 class="title white-color mb-0">Frequently Asked Questions</h2>
    </div>
    <div id="accordion" class="accordion">
    <div class="card">
    <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#collapseOne">Q. 1 : Why should I trust your firm for my case?</a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
    <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
    </div>
    </div>
    <div class="card">
    <div class="card-header">
    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Q. 2 : What types of cases does your law firm handle?</a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
    <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
    </div>
    </div>
    <div class="card">
    <div class="card-header">
    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Q. 3 : What are your opening hours?</a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
    <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
    </div>
    </div>
    <div class="card">
    <div class="card-header">
    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">Q. 4 : Do you charge for consultations?</a>
    </div>
    <div id="collapseFour" class="collapse" data-parent="#accordion">
    <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 pl-0">
    <div class="free-consultation">
    <div class="sec-title mb-45 xs-mb-31">
    <div class="sub-title primary">Schedule For</div>
    <h2 class="title white-color mb-0">Free Consultation</h2>
    </div>
    <div id="form-messages"></div>
    <form id="contact-form" method="post" action="mailer.php">
    <div class="row">
    <div class="col-lg-6">
    <div class="form-field">
    <input type="text" placeholder="Your Name" id="name" name="name" required>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-field">
    <input type="email" placeholder="Your Email" id="email" name="email" required>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-field">
    <input type="text" placeholder="Phone" id="phone_number" name="phone_number" required>
    </div>
    </div>
    <div class="col-md-6">
    <div class="select-option">
    <select name="topics" id="topics">
    <option value="Business Law">Business Law</option>
    <option value="Traffic Law">Traffic Law</option>
    <option value="Criminal Law">Criminal Law</option>
    <option value="Family Law">Family Law</option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-field">
    <textarea placeholder="Your Message" id="message" name="message" required></textarea>
    </div>
    </div>
    </div>
    <div class="form-btn submit-btn mt-30">
    <button class="readon upper" type="submit">Submit request</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@ <!-- Faq Section End -->
    <!-- Testimonia Section Start -->
    @*    <div class="rs-testimonia bg1 pt-120 pb-274 md-pt-84 md-pb-80">
    <div class="container">
    <div class="testimonials-inner">
    <div class="slider-for">
    <div class="item">
    <p class="desc">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who failness fallness just in their duty through weakness.</p>
    <ul class="ratings">
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-half-o"></i></li>
    </ul>
    <div class="author-info">
    <h4 class="name">John Alen</h4>
    <span class="designation">SEO of Codeless</span>
    </div>
    </div>
    <div class="item">
    <p class="desc">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who failness fallness just in their duty through weakness.</p>
    <ul class="ratings">
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-half-o"></i></li>
    </ul>
    <div class="author-info">
    <h4 class="name">Leana Mendis</h4>
    <span class="designation">Lawyer</span>
    </div>
    </div>
    <div class="item">
    <p class="desc">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who failness fallness just in their duty through weakness.</p>
    <ul class="ratings">
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-half-o"></i></li>
    </ul>
    <div class="author-info">
    <h4 class="name">Micle Shwan</h4>
    <span class="designation">Designer</span>
    </div>
    </div>
    <div class="item">
    <p class="desc">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who failness fallness just in their duty through weakness.</p>
    <ul class="ratings">
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-half-o"></i></li>
    </ul>
    <div class="author-info">
    <h4 class="name">Israt Jahan</h4>
    <span class="designation">Consultant</span>
    </div>
    </div>
    </div>
    <div class="slider-nav">
    <div class="item">
    <img src="images/testimonial/1.jpg" alt="image" draggable="false" />
    </div>
    <div class="item">
    <img src="images/testimonial/2.jpg" alt="image" draggable="false" />
    </div>
    <div class="item">
    <img src="images/testimonial/3.jpg" alt="image" draggable="false" />
    </div>
    <div class="item">
    <img src="images/testimonial/4.jpg" alt="image" draggable="false" />
    </div>
    </div>
    </div>
    </div>
    </div>
    *@ <!-- Testimonia Section End -->
    <!-- Counter Up Section Start Here-->
    @*  <div id="rs-counter" class="rs-counter style1 md-pt-80">
    <div class="container padding-0 md-pl-pr-15">
    <div class="counter-wrap secondary-bg mt--154 md-mt-0">
    <div class="row">
    <!-- COUNTER-LIST START -->
    <div class="col-lg-3 col-sm-6 md-mb-30">
    <div class="rs-counter-list">
    <div class="icon-part">
    <img src="images/counter/icons/1.png" alt="">
    </div>
    <div class="counter-text">
    <div class="rs-count">1820</div>
    <h4 class="title">Case Closed</h4>
    </div>
    </div>
    </div>
    <!-- COUNTER-LIST END -->
    <!-- COUNTER-LIST START -->
    <div class="col-lg-3 col-sm-6 md-mb-30">
    <div class="rs-counter-list">
    <div class="icon-part">
    <img src="images/counter/icons/2.png" alt="">
    </div>
    <div class="counter-text">
    <div class="rs-count">1505</div>
    <h4 class="title">Expert Attorneys</h4>
    </div>
    </div>
    </div>
    <!-- COUNTER-LIST END -->
    <!-- COUNTER-LIST START -->
    <div class="col-lg-3 col-sm-6 xs-mb-30">
    <div class="rs-counter-list">
    <div class="icon-part">
    <img src="images/counter/icons/3.png" alt="">
    </div>
    <div class="counter-text">
    <div class="rs-count">2025</div>
    <h4 class="title">Trusted Clients</h4>
    </div>
    </div>
    </div>
    <!-- COUNTER-LIST END -->
    <!-- COUNTER-LIST START -->
    <div class="col-lg-3 col-sm-6">
    <div class="rs-counter-list">
    <div class="icon-part">
    <img src="images/counter/icons/4.png" alt="">
    </div>
    <div class="counter-text">
    <div class="rs-count">1010</div>
    <h4 class="title">Successful Case</h4>
    </div>
    </div>
    </div>
    <!-- COUNTER-LIST END -->
    </div>
    </div>
    </div>
    </div>
    *@  <!-- Counter Down Section End Here-->
    <!-- Blog Section Start -->
    <style>
        .blog-image img {
            height: 300px !important;
        }
    </style>
    <div class="rs-blog style1 pt-115 pb-120 md-pt-72 md-pb-80">
        <div class="container">
            <div class="sec-title top-line text-center mb-51 xs-mb-31">
                <div class="sub-title primary">Blog Post</div>
                <h2 class="title mb-0">Latest Blog Post</h2>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/construction.jpg"  alt="">
                        <div class="blog-date">Mayıs 10, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="#">Kat Karşılığı İnşaat Sözleşmesi</a></h4>
                        <div class="blog-desc">Kat karşılığı inşaat sözleşmesi, arsa sahibi veya sahipleri ile arsa payı karşılığı inşaat yapmayı taahhüt eden yüklenici (müteahhit) arasında imzalanan ve iki tarafa da borç yükleyen bir sözleşmedir.</div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/contract.jpg"  alt="">

                        <div class="blog-date">Mayıs 28, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="#">Sözleşmelerin Değişen Koşullara Göre Uyarlanması</a></h4>
                        <div class="blog-desc">Sözleşmeler ve borçlar hukuku, temelinde tarafların irade serbestisine dayalı olarak sözleşmeyi içeriğine uygun olarak ifa etmek ve tarafların edimlerini bu çerçevede yerine getirmekle yükümlü olduğu bir hukuk dalıdır. </div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/Nafaka-hukuku.jpeg"  alt="">
                        <div class="blog-date">Haziran 10, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="#">Nafaka artırım davası nasıl açılır ?</a></h4>
                        <div class="blog-desc">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Section End -->
    <!-- Partner Start -->
    <div class="rs-partner secondary-bg pt-57 pb-51">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="6" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="3" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="6" data-md-device-nav="true" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-1.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-2.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-3.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-4.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-5.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-6.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-7.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-8.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/images/gallery-2/image-9.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $(".main-page").siblings().removeClass("current-menu-item");
            $(".main-page").addClass("current-menu-item");
            $('html, body').animate({ scrollTop: 0 }, 500);
        })
        $(document).ready(() => {
            $("title").html("CDU+ Partners Anasayfa");
        })
    </script>

}


