@{
    ViewData["Title"] = "Anasayfa";
}
<div class="main-content">
    <style>
        .image-shadow {
            box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
            -webkit-box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
            -moz-box-shadow: -1px -1px 13px -3px rgba(0,0,0,0.81);
        }

        .working-area .content-part {
            min-height: 250px;
        }
        .blog-img{
            width:100% !important;
        }
        
        .blog-item .text-bottom{
            height:300px !important;
        }

        .blog-image img {
            width: 100% !important;
            height: 300px !important;
        }

        .text-align-justify{
            text-align:justify;
        }
    </style>
    <div id="rs-about" class="rs-about style1 mt-5 pt-120 pb-120 md-pt-80 md-pb-78">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-5 md-mb-30">
                    <img src="~/images/test.jpg" class="image-shadow" alt="">
                    @*<img src="/images/company/main-page-image.jpg" alt="">*@

                </div>
                <div class="col-lg-7 pl-45 md-pl-15">
                    <div class="sec-title mb-24">
                        <h2 class="title mb-0">CDU+Partners Hukuk Bürosu</h2>
                    </div>
                    <p class="text-align-justify des mb-36">
                        İstanbul merkezli bir hukuk bürosuyuz ve hukuki ihtiyaçlarınızı çözmek için buradayız. Misyonumuz, müvekkillerimize yüksek kalitede hukuki hizmetler sunarak adaletin korunmasına katkıda bulunmaktır. CDU+Partners Hukuk Bürosu olarak, yılların deneyimi, uzmanlık ve kararlılıkla çalışmaktayız. Müvekkillerimizin haklarını ve çıkarlarını korumak için büyük bir özveri ile çalışıyoruz. İhtiyacınıza uygun hukuki çözümler sunarak sizi en iyi şekilde temsil etmeye odaklanıyoruz.
                    </p>

                    <h4><strong>Biz Kimiz?</strong> </h4>
                    <p class="text-align-justify des mb-36">
                        CDU+Partners Hukuk Bürosu, 2019 yılında kurulmuş ve o günden bu yana hukuk alanında önemli bir iz bırakmıştır. Deneyimli avukatlarımız, danışmanlarımız ve destek ekibimiz, hukukun farklı alanlarındaki uzmanlıklarıyla tanınır. Müvekkillerimize kişisel ve profesyonel hizmet sunmak için buradayız. Hukukun karmaşıklığını anlayarak, her bir davaya dikkatle yaklaşıyor ve en iyi sonuçları elde etmek için çalışıyoruz.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- Our Practice Areas Start -->
    <div class="rs-our-practice style1 title-bg pt-114 pb-120 md-pt-72 md-pb-80">
        <div class="container">
            <div class="sec-title top-line text-center mb-49 xs-mb-31">
                <h2 class="title white-color mb-0">Çalışma Alanlarımız</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=4">Danışmanlık</a></h4>
                            <div class="desc">
                                Hukuki konularda tavsiye ve rehberlik sağlarız.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=5">Hukuk İşlemleri</a></h4>
                            <div class="desc">
                                Sözleşme hazırlama, dava dosyalama ve diğer hukuki işlemlerde size yardımcı oluruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=6">Anlaşmazlık Çözümü</a></h4>
                            <div class="desc">Anlaşmazlıkların alternatif çözüm yollarını araştırır ve dava durumunda sizi temsil ederiz.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=7">İcra Hukuku</a></h4>
                            <div class="desc">
                                İcra hukukunda özel uzmanlık sunarak borç tahsilatı, icra takipleri ve yargı kararlarının icrası konularında müvekkillerimize yardımcı oluruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/6.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=8">Ceza Hukuku</a></h4>
                            <div class="desc">Hızlı ekonomik büyüme ve artan yabancı yatırımlar, hukuki anlaşmazlıkların yanı sıra ceza soruşturma ve kovuşturmalarının da artmasına sebep olmaktadır. Bu alanda oluşan ihtiyaçları ve beklentileri uzman avukatlarımızla etkili bir biçimde karşılamaktayız.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/5.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=9">İş Hukuku</a></h4>
                            <div class="desc">
                                İşverenler ve çalışanlar arasındaki iş ilişkilerine dair hukuki konularda size destek sunarız.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=10">İdare Hukuku</a></h4>
                            <div class="desc">
                                İdari işlemler, idare ile ilgili davalarda hukuki danışmanlık sağlıyoruz.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="/Blog/Detail?id=11">Kira Hukuku</a></h4>
                            <div class="desc">
                                Kira sözleşmeleri, kiracı ve ev sahibi hakları ve kira hukuku konularında müvekillerimize yardımcı oluyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/1.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Tüketici Hukuku</a></h4>
                            <div class="desc">
                                Tüketicilerin haklarını koruma, tüketici hukuku davaları ve tüketici konuları
                                konusundaki uzmanlığımızla, müvekillerimizin adalet arayışlarına destek oluyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/2.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Aile Hukuku</a></h4>
                            <div class="desc">
                                Boşanma, velayet, nafaka, mal paylaşımı gibi aile hukuku konularında müvekillerimize destek sağlıyoruz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/3.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Yabancılar Hukuku</a></h4>
                            <div class="desc">Yabancı vatandaşların vize, oturum izni, vatandaşlık ve diğer yabancılarla ilgili yasal süreçlerde rehberlik sağlarız ve hukuki çözümler üretiriz.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30 working-area">
                    <div class="practice-inner">
                        <div class="icon-part">
                            <img src="images/practice/icons/4.png" alt="">
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Miras Hukuku</a></h4>
                            <div class="desc">
                                Miras planlaması, mirasın dağıtılması ve miras anlaşmazlıkları konularında size rehberlik ederiz.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="rs-blog style1 pt-115 pb-120 md-pt-72 md-pb-80">
        <div class="container">
            <div class="sec-title top-line text-center mb-51 xs-mb-31">
                <div class="sub-title primary">Blog Yazıları</div>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/construction.jpg"  alt="">
                        <div class="blog-date">Mayıs 10, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="/Blog/Detail?id=12">Kat Karşılığı İnşaat Sözleşmesi</a></h4>
                        <div class="blog-desc">Kat karşılığı inşaat sözleşmesi, arsa sahibi veya sahipleri ile arsa payı karşılığı inşaat yapmayı taahhüt eden yüklenici (müteahhit) arasında imzalanan ve iki tarafa da borç yükleyen bir sözleşmedir.</div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/contract.jpg"  alt="">

                        <div class="blog-date">Mayıs 28, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="/Blog/Detail?id=13">Sözleşmelerin Değişen Koşullara Göre Uyarlanması</a></h4>
                        <div class="blog-desc">Sözleşmeler ve borçlar hukuku, temelinde tarafların irade serbestisine dayalı olarak sözleşmeyi içeriğine uygun olarak ifa etmek ve tarafların edimlerini bu çerçevede yerine getirmekle yükümlü olduğu bir hukuk dalıdır. </div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img class="blog-img" src="~/images/company/Nafaka-hukuku.jpeg"  alt="">
                        <div class="blog-date">Haziran 10, 2021</div>
                    </div>
                    <div class="text-bottom">
                        <h4 class="title"><a href="/Blog/Detail?id=14">Nafaka artırım davası nasıl açılır ?</a></h4>
                        <div class="blog-desc">Öncelikle nafaka üç çesittir: yoksulluk nafakasi, tedbir nafakasi, istirak nafakasi. Istirak nafakasi, bosanma sonucu velayet kendisinde olmayan esin, çocuklarin egitim, bakim gibi giderlerini karsilamak üzere vermesine hükmedilen nafakadir.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Section End -->
    <!-- Partner Start -->
    <div class="rs-partner secondary-bg pt-57 pb-51">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="6" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="3" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="6" data-md-device-nav="true" data-md-device-dots="false">
                <div class="partner-item">
                    <a>
                        <img src="~/images/gallery-2/image-1.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a>
                        <img src="~/images/gallery-2/image-2.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-3.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-4.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-5.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-6.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-7.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a >
                        <img src="~/images/gallery-2/image-8.jpg" alt="">
                    </a>
                </div>
                <div class="partner-item">
                    <a>
                        <img src="~/images/gallery-2/image-9.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $(".main-page").siblings().removeClass("current-menu-item");
            $(".main-page").addClass("current-menu-item");
            $('html, body').animate({ scrollTop: 0 }, 500);
        })
        $(document).ready(() => {
            $("title").html("CDU+Partners Anasayfa");
        })
    </script>

}


