@{
    ViewData["Title"] = "Index";
}

<div id="rs-about" class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
    <div class="container">
        <div class="row rs-vertical-middle">
            <div class="col-lg-5 md-mb-30">
                <img src="images/about/home-about-1.jpg" alt="">
            </div>
            <div class="col-lg-7 pl-45 md-pl-15">
                <div class="sec-title mb-24">
                    <div class="sub-title primary">About Us</div>
                    <h2 class="title mb-0">Welcome to Advokat Lawyers & Lawfirm</h2>
                </div>
                <p class="des mb-36">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
                <p class="des">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.  Ut enim ad minim veniam, quis nostrud exercitation. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="info mt-25">
                    <div class="signature">
                        <img class="mb-25" src="images/about/signature.png" alt="">
                    </div>
                    <p class="designation">CEO & Founder of Advokat</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $(".toolbar-area").remove();
        })
    </script>
}
