@{
    ViewData["Title"] = "Hakkimizda";
}

<style>
    .about-us-image-banner{
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    }
</style>
<div id="rs-about" class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
    <div class="container">
        <div style="display:flex;justify-content:center">
            <h2>Hakkımızda</h2>
        </div>
        <div class="row rs-vertical-middle">
            <div class="col-lg-5" style="margin-bottom: 250px;">
                <img class="about-us-image-banner" src="~/images/company/about-us.jpg" alt="">

            </div>
            <div class="col-lg-7 pl-45 md-pl-15">

                <p class="des mb-10" style="text-align:justify">
                    Adalet, insan topluluklarının sürdürülebilirliği ve uyumunun temel taşıdır. Biz,CDU+Partners Hukuk Bürosu, bu değerli kavramın peşinde koşan bir ekip olarak, müvekkillerimize hukukun gücünü ve adaletin izini sürme yolculuğunda liderlik etmeyi taahhüt ediyoruz.
                </p>
                <p class="des mb-10" style="text-align:justify">

                    CDU+Partners Hukuk Bürosu, İstanbul  şehrinde ve dünyanın dört bir yanında hizmet sunmaktadır. Bu yolculukta, şairlerin ve filozofların düşüncelerinden ilham almaktadır:

                <p style="margin-bottom:10px !important"><i class="mt-5">"Adalet yoksa, insanlık ne işe yarar?" (Confucius)</i></p>
                <p class="">
                    Adalet, toplumun temel taşıdır. İnsanların haklarını ve özgürlüklerini korumak, bu temeli sağlam tutmanın bir parçasıdır. CDU+Partners Hukuk Bürosu, geniş bir dava yelpazesi sunar ve ulusal ile uluslararası düzeyde uzmanlığa sahiptir.
                </p>





                <p class="des mb-10" style="text-align:justify">
                    Çalışma Alanlarımız:

                    Hukuk büromuz, geniş bir dava yelpazesi sunmaktadır. Aşağıda bulunan çalışma alanlarında uzmanız:
                </p>


                <p class="des mb-10" style="text-align:justify">

                    Aile Hukuku: Boşanma, velayet, nafaka, mal paylaşımı gibi aile hukuku konularında müvekillerimize destek sağlıyoruz.


                </p>
                <p class="des mb-10" style="text-align:justify">
                    Ceza Hukuku: Ceza davaları, suç savunmaları ve ceza mahkemeleri konularında uzmanız.
                </p>


                <p class="des mb-10" style="text-align:justify">

                    Ticaret Hukuku: Ticaret sözleşmeleri, şirketler hukuku, ticari uyuşmazlıklar ve daha fazlasında danışmanlık sunarız.

                </p>
                <p class="des mb-10" style="text-align:justify">


                    Miras Hukuku: Miras davaları, mirasçılık, vasiyetname düzenlemesi gibi miras hukuku konularında yardımcı oluruz.


                <p class="des mb-10" style="text-align:justify">

                    İş Hukuku: İşçi işveren ilişkileri, işçi hakları, işten çıkarmalar ve iş hukuku konularında rehberlik sağlıyoruz.

                </p>
                <p class="des mb-10" style="text-align:justify">


                    Çevre Hukuku: Çevresel düzenlemeler, sürdürülebilirlik, çevre sorumluluğu ve daha fazlası konularında uzmanız.

                </p>
                <p class="des mb-10" style="text-align:justify">

                    İnsan Hakları Hukuku: İnsan hakları savunuculuğu, insan hakları ihlalleri davaları ve insan hakları konularında rehberlik sunarız.
                </p>
          
                <p class="des mb-10" style="text-align:justify">

                    Uluslararası Ticaret Hukuku: Uluslararası ticaret anlaşmaları, ticaret uyuşmazlıkları ve dış ticaret hukuku konularında danışmanlık sunarız.
                </p>

                <p class="des mb-10" style="text-align:justify">

                    Yatırım Hukuku: Yatırım anlaşmaları, yatırım uyuşmazlıkları ve yatırım hukuku konularında uzmanız.
                </p>

                <p class="des mb-10" style="text-align:justify">

                    İdare Hukuku: İdari işlemler, idare ile ilgili davalarda hukuki danışmanlık sağlıyoruz.
                </p>
                <p class="des mb-10" style="text-align:justify">

                    Sözleşmeler ve Borçlar Hukuku: Sözleşme hazırlığı, yorumu ve borçlar hukuku konularında rehberlik sunuyoruz.



                </p>






                <p class="des mb-10" style="text-align:justify">

                    Kira Hukuku: Kira sözleşmeleri, kiracı ve ev sahibi hakları ve kira hukuku konularında müvekillerimize yardımcı oluyoruz.
                </p>



                <p class="des mb-10" style="text-align:justify">

                    İhtarname İhbarname Yazım Süreçleri: İhtarname ve ihbarname hazırlığı, hukuki yazışma süreçlerinde uzmanız.

                </p>
            </div>
        </div>
    </div>
</div> 
@section Scripts{
    <script>
        $(document).ready(() => {
            $("title").html("CDU+Partners Hakkimizda");

            $(".toolbar-area").remove();
            $(".about-us-page").closest("li").siblings().removeClass("current-menu-item");
            $(".about-us-page").closest("li").addClass("current-menu-item");
        })
    </script>
}
