<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Osahan Deel - Coupons, Deals & Discounts HTML Template</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="images/logo.svg">
   <!-- Custom fonts for this template-->
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   <!-- Custom styles for this template-->
   <link href="css/theme.css" rel="stylesheet">
   <!-- Material Design Icons -->
   <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
   <!-- Select2 CSS -->
   <link href="vendor/select2/css/select2-bootstrap.css" />
   <link href="vendor/select2/css/select2.min.css" rel="stylesheet" />
   <!-- icofont -->
   <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
   <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
   <!-- Custom styles for this template-->
   <link href="css/osahan.css" rel="stylesheet" id="theme-opt" />
</head>

<body class="login-main-body">
   <section class="login-main-wrapper">
      <div class="container-fluid pl-0 pr-0">
         <div class="row no-gutters">
            <div class="col-md-12 p-5 bg-white full-height vertical-center">
               <div class="login-main-left">
                  <a class="login-back" href="index.html"><span class="mdi mdi-chevron-left"></span></a>
                  <div class="text-center mb-5 login-main-left-header pt-5">
                     <h5 class="mt-0 mb-3">Complete your Verification</h5>
                     <p>An OTP has been sent to your number<br> +55 123 456 7789 <a href="#">Change</a></p>
                  </div>
                  <form action="sign-in.html">
                     <div class="form-group otp-form">
                        <div class="row">
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                           <div class="col-2 pl-2 pr-2">
                              <input type="text" class="form-control" placeholder="">
                           </div>
                        </div>
                     </div>
                     <button type="submit" class="btn btn-primary btn-block btn-lg mt-4">Sign In</button>
                  </form>
                  <div class="text-center mt-5">
                     <p class="light-gray">Haven’t Received the OTP? <a href="#">Resend</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Start Style switcher -->
   <div id="style-switcher" class="shadow p-3 pt-2 pb-2">

      <h3 class="title text-center mt-0 mb-2">Theme Option</h3>
      <div class="text-center">

         <a href="#" class="btn btn-sm w-100 btn-dark dark-version t-dark mt-2"><i class="fas fa-fw fa-moon"></i>
            Dark</a>
         <a href="#" class="btn btn-sm w-100 btn-light light-version t-light mt-2">Light</a>
      </div>
      <h3 class="title text-center mt-3 pt-3 border-top mb-2">Perfect Demos</h3>
      <div class="text-center">
         <a target="_blank" href="index.html"><img class="img-fluid border border-primary rounded shadow"
               src="images/demo1.png" alt="theme2"></a>
         <a target="_blank" href="demo3/index.html"><img class="img-fluid border rounded shadow-sm my-3"
               src="images/demo3.png" alt="theme5"></a>
         <a target="_blank" href="without-sidebar/index.html"><img class="img-fluid border rounded shadow-sm"
               src="images/demo2.png" alt="theme1"></a>

      </div>
      <div class="bottom">
         <a href="#" class="settings bg-white shadow d-block"><i
               class="mdi mdi-settings ml-1 mdi-24px position-absolute mdi-spin text-primary"></i></a>
      </div>
   </div>
   <!-- End Style switcher -->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- Core plugin JavaScript-->
   <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
   <!-- select2 Js -->
   <script src="vendor/select2/js/select2.min.js"></script>
   <!-- Owl Carousel -->
   <script src="vendor/owl-carousel/owl.carousel.js"></script>
   <!-- Custom -->
    <script src="js/custom.js"></script>
   <script src="js/switcher.js"></script>
</body>

</html>