<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>Osahan Deel - Coupons, Deals & Discounts HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="images/logo.svg">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
      <!-- Select2 CSS -->
      <link href="vendor/select2/css/select2-bootstrap.css" />
      <link href="vendor/select2/css/select2.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
   </head>
   <body>
      <div class="page-header section-rotate position-relative">
         <div class="section-inner bg-gradient-primary"></div>
         <section class="top-nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none p-0">
               <div class="container">
                  <p class="m-0 text-white"><i class="icofont-fire"></i> COUPONS & OFFERS <span class="text-warning">TODAY</span></p>
                  <!-- Navbar Search -->
                  <!-- Navbar -->
                  <ul class="navbar-nav ml-auto ml-md-0">
                     <li class="nav-item dropdown no-arrow badge-top">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icofont-alarm"></i>
                        <span class="badge badge-pill badge-danger">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown no-arrow dropdown-user">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid" src="images/user.png"> Ron Smith
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                           <a class="dropdown-item" href="profile.html"><i class="icofont-ui-user"></i> Profile</a>
                           <a class="dropdown-item" href="settings.html"><i class="icofont-settings-alt"></i> Settings</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="icofont-logout"></i> Logout</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </nav>
         </section>
         <section class="middle-nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none p-0">
               <div class="container">
                  <a class="navbar-brand" href="index.html"><img class="img-fluid" src="images/logo.svg"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                     <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Coupans
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="coupans.html">Coupans</a>
                              <a class="dropdown-item" href="coupan-details.html">Coupan Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Deals
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="deals.html">Deals</a>
                              <a class="dropdown-item" href="deal-details.html">Deals Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Offers
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="offers.html">Offers</a>
                              <a class="dropdown-item" href="offer-details.html">Offers Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Stores <span class="badge badge-primary">HOT</span>
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="stores.html">Stores</a>
                              <a class="dropdown-item" href="store-details.html">Stores Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Restaurant
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="restaurant.html">Restaurant</a>
                              <a class="dropdown-item" href="restaurant-details.html">Restaurant Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pages <span class="badge badge-danger badge-top">NEW</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-lg p-4" aria-labelledby="navbarDropdown">
                              <div class="row no-gutters">
                                 <div class="col-12 col-lg-6">
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Account
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="profile.html">Profile</a>
                                    <a class="dropdown-item" href="enter-otp.html">Enter OTP</a>
                                    <a class="dropdown-item" href="sign-in.html">Sign In</a>
                                    <a class="dropdown-item" href="sign-up.html">Sign up</a>
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Extra Pages <span class="badge badge-success">HOT
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="earn.html">Earn</a>
                                    <a class="dropdown-item" href="membership.html">Membership</a>
                                    <a class="dropdown-item" href="rating.html">Rating</a>
                                    <a class="dropdown-item" href="referral.html">Referral</a>
                                 </div>
                                 <div class="col-12 col-lg-6">
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Company
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="not-found.html">404 Not Found</a>
                                    <a class="dropdown-item" href="faq.html">FAQ</a>
                                    <a class="dropdown-item" href="terms.html">Terms</a>
                                    <a class="dropdown-item" href="privacy.html">Privacy</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                    <a class="dropdown-item" href="pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="maintence.html">Maintence</a>
                                    <a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
                                    <a class="dropdown-item" href="components.html">Components</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                     <span class="navbar-text">
                     <a target="_blank" href="#" class="btn btn-light-white btn-sm rounded-pill generator-bg"><i class="icofont-cart"></i> Buy</a>
                     </span>
                  </div>
               </div>
            </nav>
         </section>
         <section class="pt-5 pb-5 homepage-search-block position-relative">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <div class="homepage-search-title">
                        <h1 class="mb-3 text-white text-shadow font-weight-bold">Find Best Deals in <span class="font-weight-light">UK</span></h1>
                        <h5 class="mb-5 text-white text-shadow font-weight-normal">Let our experts find the best coupons and deals for you!</h5>
                     </div>
                     <div class="homepage-search-form">
                        <form class="form-noborder">
                           <div class="form-row">
                              <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                                 <div class="location-dropdown">
                                    <i class="icofont-location-arrow"></i>
                                    <select class="custom-select form-control-lg">
                                       <option> All </option>
                                       <option> Coupans </option>
                                       <option> Offers </option>
                                       <option> Stores </option>
                                       <option> Restaurant </option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                                 <input type="text" placeholder="Search for stores, coupons, & offers…" class="form-control form-control-lg">
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                 <button type="submit" class="btn btn-primary btn-block btn-lg btn-gradient"><i class="icofont-search"></i></button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <h6 class="mb-0 mt-1 text-white text-shadow font-weight-normal">E.g. Coupans, Offers, Brands, Stores, Restaurant & more...</h6>
                  </div>
                  <div class="col-md-4">
                     <img src="images/banner.svg" class="img-fluid">
                  </div>
               </div>
            </div>
         </section>
      </div>
      <section class="section-padding homepage-view-offers">
         <div class="container">
            <div class="row">
               <div class="col-md-5 mx-auto text-center">
                  <h3 class="mb-3">Top Offers</h3>
                  <p class="text-dark-50 mb-5">Build a beautiful, modern website with flexible Bootstrap components built from scratch.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/1.png">
                        </a>
                        <div class="button-g-btn button-g-btn-up">
                           <img class="img-fluid" src="images/brand/1.png">
                           <span>MakeMyTrip</span>
                        </div>
                     </div>
                     <div class="p-3 pt-4">
                        <div class="custom-card-body">
                           <h6 class="mb-3"><a class="text-black" href="#">Get Flat 30% OFF on Payment Via RBL Bank</a></h6>
                           <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                        </div>
                        <div class="custom-card-footer mb-2">
                           <a class="btn btn-orange float-right" href="#">Get Offer</a>
                           <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/2.png">
                        </a>
                        <div class="button-g-btn button-g-btn-up">
                           <img class="img-fluid" src="images/brand/2.png">
                           <span>Dominos</span>
                        </div>
                     </div>
                     <div class="p-3 pt-4">
                        <div class="custom-card-body">
                           <h6 class="mb-3"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting
                              </a>
                           </h6>
                           <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                        </div>
                        <div class="custom-card-footer d-flex align-items-center">
                           <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm bg-white h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/3.png">
                        </a>
                        <div class="button-g-btn button-g-btn-up">
                           <img class="img-fluid" src="images/brand/3.png">
                           <span>Amazon</span>
                        </div>
                     </div>
                     <div class="p-3 pt-4">
                        <div class="custom-card-body">
                           <h6 class="mb-3"><a class="text-black" href="#">Get Flat 30% OFF on Payment Via RBL Bank</a></h6>
                           <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                        </div>
                        <div class="custom-card-footer d-flex align-items-center">
                           <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/4.png">
                        </a>
                        <div class="button-g-btn button-g-btn-up">
                           <img class="img-fluid" src="images/brand/4.png">
                           <span>Myntra</span>
                        </div>
                     </div>
                     <div class="p-3 pt-4">
                        <div class="custom-card-body">
                           <h6 class="mb-3"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting
                              </a>
                           </h6>
                           <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                        </div>
                        <div class="custom-card-footer d-flex align-items-center">
                           <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section-padding homepage-coupon">
         <div class="container">
            <div class="row  align-items-center">
               <div class="col-lg-4 col-md-4">
                  <div class="homepage-left-block">
                     <img class="round-co-icon" src="images/active-power.png" alt="Get Badges Icons">
                     <h3 class="text-white">Top Coupans</h3>
                     <p class="text-white">Make sure you are getting the best deals and offers on all of your online shopping</p>
                     <a class="btn btn-light-white text-white btn-sm rounded-pill" href="#">View more</a>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="owl-carousel owl-theme owl-carousel-three homepage-coupon-carousel">
                     <div class="item">
                        <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                           <div class="all-coupon">
                              <img class="mb-3 user-cou-img" src="images/user-coupans/1.png" alt="Generic placeholder image">
                              <h4 class="mt-1">50% OFF</h4>
                              <h6 class="mb-4 mt-3 pb-2 text-secondary">Get Flat 50% OFF On First Order</h6>
                           </div>
                           <div class="mb-0">
                              <p class="mb-0 text-info"><i class="icofont-clock-time"></i> Ends 09.15.2020</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                           <div class="all-coupon">
                              <img class="mb-3 user-cou-img" src="images/user-coupans/2.png" alt="Generic placeholder image">
                              <h4 class="mt-1">Buy 1 Get 1 Free</h4>
                              <h6 class="mb-4 mt-3 pb-2 text-secondary">Get Flat 50% OFF On First Order</h6>
                           </div>
                           <div class="mb-0">
                              <p class="mb-0 text-info"><i class="icofont-clock-time"></i> Ends 09.15.2020</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                           <div class="all-coupon">
                              <img class="mb-3 user-cou-img" src="images/user-coupans/3.png" alt="Generic placeholder image">
                              <h4 class="mt-1">Free Burger</h4>
                              <h6 class="mb-4 mt-3 pb-2 text-secondary">Get Flat 50% OFF On First Order</h6>
                           </div>
                           <div class="mb-0">
                              <p class="mb-0 text-info"><i class="icofont-clock-time"></i> Ends 09.15.2020</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                           <div class="all-coupon">
                              <img class="mb-3 user-cou-img" src="images/user-coupans/4.png" alt="Generic placeholder image">
                              <h4 class="mt-1">80% OFF</h4>
                              <h6 class="mb-4 mt-3 pb-2 text-secondary">Get Flat 50% OFF On First Order</h6>
                           </div>
                           <div class="mb-0">
                              <p class="mb-0 text-info"><i class="icofont-clock-time"></i> Ends 09.15.2020</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section-padding homepage-great-deals bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="owl-carousel owl-theme owl-carousel-one homepage-great-deals-carousel">
                     <div class="item">
                        <div class="great-deals-sstore-banners">
                           <a href="#"><img alt="placeholder image" src="images/dotd.png" class="img-fluid rounded"></a>
                        </div>
                     </div>
                     <div class="item">
                        <div class="great-deals-sstore-banners">
                           <a href="#"><img alt="placeholder image" src="images/dotd.png" class="img-fluid rounded"></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section-padding homepage-store-block">
         <div class="container">
            <div class="row  align-items-center">
               <div class="col-lg-9 col-md-8">
                  <div class="owl-carousel owl-theme owl-carousel-three homepage-coupon-carousel">
                     <div class="item">
                        <div class="custom-card bg-white shadow-sm h-100 stor-card">
                           <div class="custom-card-image">
                              <div class="member-plan"><span class="badge badge-gold">Gold Member</span></div>
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/5.png">
                              </a>
                              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                 <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                                 </svg>
                              </div>
                              <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
                           </div>
                           <div class="p-3">
                              <div class="custom-card-body">
                                 <h6 class="mb-0"><a class="text-black" href="#">The Home Depot, Inc.</a></h6>
                                 <p class="text-gray mb-2">Andheri East Office, Mumbai</p>
                                 <p class="text-gray mb-0"><span class="text-black">Variety store</span></p>
                              </div>
                           </div>
                           <div class="p-3 border-top">
                              <div class="custom-card-badge">
                                 <span class="badge badge-danger"><i class="icofont-sale-discount"></i> OFFER</span> Flat 50% on all Stores
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="custom-card bg-white shadow-sm h-100 stor-card">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/6.png">
                              </a>
                              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                 <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                                 </svg>
                              </div>
                              <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
                           </div>
                           <div class="p-3">
                              <div class="custom-card-body">
                                 <h6 class="mb-0"><a class="text-black" href="#">Target Corporation</a></h6>
                                 <p class="text-gray mb-2">Andheri East Office, Mumbai</p>
                                 <p class="text-gray mb-0"><span class="text-gold"><i class="icofont-clock-time"></i> Time Left : 2 days: 3 Hrs</span></p>
                              </div>
                           </div>
                           <div class="p-3 border-top">
                              <div class="custom-card-badge">
                                 <span class="badge badge-danger"><i class="icofont-sale-discount"></i> OFFER</span> Flat 50% on all Stores
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="custom-card bg-white shadow-sm h-100 stor-card">
                           <div class="custom-card-image">
                              <div class="member-plan"><span class="badge badge-silver">Silver Member</span></div>
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/7.png">
                              </a>
                              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                 <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                                 </svg>
                              </div>
                              <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
                           </div>
                           <div class="p-3">
                              <div class="custom-card-body">
                                 <h6 class="mb-0"><a class="text-black" href="#">Phoenix Market City</a></h6>
                                 <p class="text-gray mb-2">Andheri East Office, Mumbai</p>
                                 <p class="text-gray mb-0"><span class="text-black">Variety store</span></p>
                              </div>
                           </div>
                           <div class="p-3 border-top">
                              <div class="custom-card-badge">
                                 <span class="badge badge-danger"><i class="icofont-sale-discount"></i> OFFER</span> Flat 50% on all Stores
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="custom-card bg-white shadow-sm h-100 stor-card">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/8.png">
                              </a>
                              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                 <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                                 </svg>
                              </div>
                              <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
                           </div>
                           <div class="p-3">
                              <div class="custom-card-body">
                                 <h6 class="mb-0"><a class="text-black" href="#">Amazon.com, Inc.</a></h6>
                                 <p class="text-gray mb-2">Andheri East Office, Mumbai</p>
                                 <p class="text-gray mb-0"><span class="text-gold"><i class="icofont-clock-time"></i> Time Left : 2 days: 3 Hrs</span></p>
                              </div>
                           </div>
                           <div class="p-3 border-top">
                              <div class="custom-card-badge">
                                 <span class="badge badge-info"><i class="icofont-sale-discount"></i> OFFER</span> Flat 50% on all Stores
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4">
                  <div class="homepage-left-block text-right">
                     <img class="round-co-icon" src="images/active-power.png" alt="Get Badges Icons">
                     <h3 class="text-white">Top Stores</h3>
                     <p class="text-white pl-0 pr-0">Make sure you are getting the best deals and offers on all of your online shopping
                     </p>
                     <a class="btn btn-light-white text-white btn-sm rounded-pill" href="#">View more</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section-padding homepage-great-deals bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <div class="great-deals-sstore-banners">
                     <a href="#"><img alt="placeholder image" src="images/o1.png" class="img-fluid rounded"></a>
                  </div>
                  <div class="great-deals-sstore-banners">
                     <a href="#"><img alt="placeholder image" src="images/o2.png" class="img-fluid rounded"></a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="great-deals-sstore-banners">
                     <a href="#"><img alt="placeholder image" src="images/o3.png" class="img-fluid rounded"></a>
                  </div>
                  <div class="great-deals-sstore-banners">
                     <a href="#"><img alt="placeholder image" src="images/o4.png" class="img-fluid rounded"></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section-padding homepage-rest-block">
         <div class="container">
            <div class="row">
               <div class="col-md-5 mx-auto text-center">
                  <h3 class="mb-3 text-white">Top Restaurant</h3>
                  <p class="text-white-50 mb-5">Build a beautiful, modern website with flexible Bootstrap components built from scratch.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm bg-white h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/9.png">
                        </a>
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                           <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                           </svg>
                        </div>
                     </div>
                     <div class="p-3">
                        <div class="custom-card-body">
                           <h6 class="mb-1"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting</a></h6>
                           <p class="text-gray mb-2"><i class="icofont-price"></i> <s>$150</s>  <span class="text-black font-weight-bold">$80</span></p>
                        </div>
                        <div class="custom-card-badge mt-2">
                           <span class="badge badge-success">OFFER</span> Flat 50% on all Stores
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm bg-white h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/6.png">
                        </a>
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                           <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                           </svg>
                        </div>
                     </div>
                     <div class="p-3">
                        <div class="custom-card-body">
                           <h6 class="mb-1"><a class="text-black" href="#">New User - Get Flat Rs.100 OFF + Rs.300 Licious Cash</a></h6>
                           <p class="text-gray mb-2"><i class="icofont-price"></i> <s>$150</s>  <span class="text-black font-weight-bold">$80</span></p>
                        </div>
                        <div class="custom-card-badge mt-2">
                           <span class="badge badge-success">OFFER</span> Flat 50% on all Stores
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm bg-white h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/3.png">
                        </a>
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                           <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                           </svg>
                        </div>
                     </div>
                     <div class="p-3">
                        <div class="custom-card-body">
                           <h6 class="mb-1"><a class="text-black" href="#">Coupon Code: Get Flat 50% Off On Online Food</a></h6>
                           <p class="text-gray mb-2"><i class="icofont-price"></i> <s>$150</s>  <span class="text-black font-weight-bold">$80</span></p>
                        </div>
                        <div class="custom-card-badge mt-2">
                           <span class="badge badge-success">OFFER</span> Flat 50% on all Stores
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-4">
                  <div class="custom-card shadow-sm bg-white h-100">
                     <div class="custom-card-image">
                        <a href="#">
                        <img class="img-fluid item-img" src="images/custom-card/8.png">
                        </a>
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                           <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                           </svg>
                        </div>
                     </div>
                     <div class="p-3">
                        <div class="custom-card-body">
                           <h6 class="mb-1"><a class="text-black" href="#">New User - Get Flat Rs.100 OFF + Rs.300 Licious Cash</a></h6>
                           <p class="text-gray mb-2"><i class="icofont-price"></i> <s>$150</s>  <span class="text-black font-weight-bold">$80</span></p>
                        </div>
                        <div class="custom-card-badge mt-2">
                           <span class="badge badge-danger">OFFER</span> Flat 50% on all Stores
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="text-center mt-4">
               <a class="btn btn-light-white text-white btn-sm rounded-pill" href="#">View more</a>
            </div>
         </div>
      </section>
      <section class="footer section-padding">
         <div class="container">
            <div class="row">
               <div class="col-xl-2 col-sm-6">
                  <div class="navbar-brand pt-0">
                     <img class="img-fluid" src="images/logo.svg">
                  </div>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>PRODUCTS</h6>
                  <ul>
                     <li><a href="#">Page Builder</a></li>
                     <li><a href="#">UI Kit</a></li>
                     <li><a href="#">Styleguide</a></li>
                     <li><a href="#">Documentation</a></li>
                     <li><a href="#">Changelog</a></li>
                  </ul>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>SERVICES</h6>
                  <ul>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">Contact</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Pagebuilder</a></li>
                  </ul>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>CONNECT</h6>
                  <ul>
                     <li><a href="#">Terms</a></li>
                     <li><a href="#">Privacy</a></li>
                     <li><a href="#">Page Builder</a></li>
                     <li><a href="#">UI Kit</a></li>
                     <li><a href="#">Styleguide</a></li>
                     <li><a href="#">Documentation</a></li>
                     <li><a href="#">Support</a></li>
                  </ul>
               </div>
               <div class="col-xl-4 col-sm-6">
                  <h6>Subscribe to our Newsletter</h6>
                  <form class="form-inline newsletter-form mb-1">
                     <input type="text" class="form-control mr-sm-2" placeholder="Enter your email">
                     <button type="submit" class="btn btn-primary">Subscribe</button>
                  </form>
                  <small><a href="#">Register now to get updates on <span class="text-info">Offers and Coupons</span></a></small>
                  <div class="app mt-4 pt-2">
                     <h6>DOWNLOAD APP</h6>
                     <a href="#">
                     <img class="img-fluid" src="images/google.png">
                     </a>
                     <a href="#">
                     <img class="img-fluid" src="images/apple.png">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="footer-bottom-search bg-dark section-padding">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="search-links">
                     <div class="content-wrapper">
                        <div class="cat-links">
                           <span class="cat-header">TRAVEL</span>
                           <a href="#makemytrip"> Makemytrip Coupons <span>|</span></a>
                           <a href="#oyorooms"> OYO Rooms Coupons <span>|</span></a>
                           <a href="#happyeasygo"> HappyEasyGo Coupons <span>|</span></a>
                           <a href="#cleartrip"> Cleartrip Coupons <span>|</span></a>
                           <a href="#redbus"> redBus Coupons <span>|</span></a>
                           <a href="#goibibo"> Goibibo Coupons <span>|</span></a>
                           <a href="#uber"> Uber Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">Fashion</span>
                           <a href="#zivame"> Zivame Coupons <span>|</span></a>
                           <a href="#jabong"> Jabong Coupons <span>|</span></a>
                           <a href="#clovia"> Clovia Coupons <span>|</span></a>
                           <a href="#ajio"> AJIO Coupons <span>|</span></a>
                           <a href="#nnnow"> NNNOW Coupons <span>|</span></a>
                           <a href="#myntra"> Myntra Coupons <span>|</span></a>
                           <a href="#shoppersstop"> Shoppers Stop Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">Recharge</span>
                           <a href="#paytm"> Paytm Offers <span>|</span></a>
                           <a href="#phonepe"> PhonePe Offers <span>|</span></a>
                           <a href="#freecharge"> FreeCharge Coupons <span>|</span></a>
                           <a href="#mobikwik"> MobiKwik Offers <span>|</span></a>
                           <a href="#amazonpay"> Amazon Pay Coupons <span>|</span></a>
                           <a href="#googlepay"> Google Pay Offers </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">MOBILES &amp; TABLETS</span>
                           <a href="#flipkart"> Flipkart Offers <span>|</span></a>
                           <a href="#amazon"> Amazon Offers <span>|</span></a>
                           <a href="#paytmmall"> Paytm Mall Coupons <span>|</span></a>
                           <a href="#tatacliq"> TataCliQ Coupons <span>|</span></a>
                           <a href="#snapdeal"> Snapdeal Coupons <span>|</span></a>
                           <a href="#samsung_eStore"> Samsung Coupons <span>|</span></a>
                           <a href="#shopclues"> ShopClues Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">COMPUTERS, LAPTOPS &amp; GAMING</span>
                           <a href="#samsung_eStore"> Samsung Coupons <span>|</span></a>
                           <a href="#dell"> Dell India Coupons <span>|</span></a>
                           <a href="#lenovo"> Lenovo Coupons <span>|</span></a>
                           <a href="#hpshopping"> HP Official eStore Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">FOOD &amp; DINING</span>
                           <a href="#pizzahut"> Pizza Hut Offers <span>|</span></a>
                           <a href="#dominos"> Domino's Coupons <span>|</span></a>
                           <a href="#mcdonalds"> McDonald's Coupons <span>|</span></a>
                           <a href="#swiggy"> Swiggy Coupons <span>|</span></a>
                           <a href="#kfc"> KFC Coupons <span>|</span></a>
                           <a href="#zomato"> Zomato Coupons <span>|</span></a>
                           <a href="#foodpanda"> Foodpanda Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">BEAUTY &amp; HEALTH</span>
                           <a href="#medlife"> Medlife Coupons <span>|</span></a>
                           <a href="#1mg"> 1MG Coupons <span>|</span></a>
                           <a href="#netmeds"> Netmeds Coupons <span>|</span></a>
                           <a href="#nykaa"> Nykaa Coupons <span>|</span></a>
                           <a href="#apollopharmacy"> Apollo Pharmacy <span>|</span></a>
                           <a href="#healthkart"> HealthKart Coupons <span>|</span></a>
                           <a href="#pharmeasy"> PharmEasy Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">HOME FURNISHING &amp; DECOR</span>
                           <a href="#pepperfry"> Pepperfry Coupons <span>|</span></a>
                           <a href="#rentomojo"> Rentomojo Coupons <span>|</span></a>
                           <a href="#urbanladder"> Urban Ladder Coupons <span>|</span></a>
                           <a href="#homecentre"> Home Centre Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">FLOWERS, GIFTS &amp; JEWELLERY</span>
                           <a href="#fnp"> Ferns N Petals Coupons <span>|</span></a>
                           <a href="#indiangiftsportal"> Indian Gifts Portal Coupons <span>|</span></a>
                           <a href="#archies"> Archies Coupons <span>|</span></a>
                           <a href="#floweraura"> FlowerAura Coupons <span>|</span></a>
                           <a href="#giftcart"> Giftcart </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">GROCERY</span>
                           <a href="#bigbasket"> Bigbasket Coupons <span>|</span></a>
                           <a href="#grofers"> Grofers Offers <span>|</span></a>
                           <a href="#freshtohome"> FreshtoHome Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">SPECIAL COLLECTIONS</span>
                           <a href="#exclusive-coupons-offers"> Exclusive Coupons and Offers <span>|</span></a>
                           <a href="#top-offers"> Top Coupons and Offers <span>|</span></a>
                           <a href="#buy-1-get-1-free-offers"> Buy 1 Get 1 Free <span>|</span></a>
                           <a href="#summer-offers"> Summer <span>|</span></a>
                           <a href="#GOT-merchandise-offers"> GOT Merchandise </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">WALLET OFFERS:</span>
                           <a href="#amazon-pay-offers"> Amazon Pay <span>|</span></a>
                           <a href="#amazon-pay-offers"> Paypal <span>|</span></a>
                           <a href="#paytm-offers"> Paytm <span>|</span></a>
                           <a href="#mobikwik-offers"> Mobikwik <span>|</span></a>
                           <a href="#payzapp-offers"> PayZapp </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">BANK OFFERS</span>
                           <a href="#hdfc-bank-offers"> HDFC Bank <span>|</span></a>
                           <a href="#yes-bank-offers"> Yes Bank <span>|</span></a>
                           <a href="#icici-bank-offers"> ICICI Bank <span>|</span></a>
                           <a href="#sbi-bank-offers"> SBI Bank <span>|</span></a>
                           <a href="#axis-bank-offers"> Axis Bank </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">EVENT OFFERS</span>
                           <a href="#valentines-day-offers"> Valentine's Day Offers <span>|</span></a>
                           <a href="#christmas-offers"> Christmas Offers <span>|</span></a>
                           <a href="#end-of-season-sale-offers"> End of Season Sale Coupons and Offers <span>|</span></a>
                           <a href="#diwali-offers"> Diwali Coupons and Offers <span>|</span></a>
                           <a href="#flipkart-big-billion-days-offers"> Flipkart Big Billion Days Coupons and Offers </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="py-4">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="d-flex align-items-center justify-content-between small">
                     <p class="m-0">Copyright © Your Website 2020</p>
                     <p class="m-0">
                        <a href="#">About Us</a>
                        &nbsp; · &nbsp;
                        <a href="#">Privacy Policy</a>
                        &nbsp; · &nbsp;
                        <a href="#">Terms &amp; Conditions</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- select2 Js -->
      <script src="vendor/select2/js/select2.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom -->
      <script src="js/custom.js"></script>
   </body>
</html>
