<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>Osahan Deel - Coupons, Deals & Discounts HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="images/logo.svg">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
      <!-- Select2 CSS -->
      <link href="vendor/select2/css/select2-bootstrap.css" />
      <link href="vendor/select2/css/select2.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
   </head>
   <body>
      <div class="page-header section-rotate position-relative inner-header">
         <section class="top-nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none p-0">
               <div class="container">
                  <p class="m-0 text-white"><i class="icofont-fire"></i> COUPONS & OFFERS <span class="text-warning">TODAY</span></p>
                  <!-- Navbar Search -->
                  <!-- Navbar -->
                  <ul class="navbar-nav ml-auto ml-md-0">
                     <li class="nav-item dropdown no-arrow badge-top">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icofont-alarm"></i>
                        <span class="badge badge-pill badge-danger">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown no-arrow dropdown-user">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid" src="images/user.png"> Ron Smith
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                           <a class="dropdown-item" href="profile.html"><i class="icofont-ui-user"></i> Profile</a>
                           <a class="dropdown-item" href="settings.html"><i class="icofont-settings-alt"></i> Settings</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="icofont-logout"></i> Logout</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </nav>
         </section>
         <section class="middle-nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none p-0">
               <div class="container">
                  <a class="navbar-brand" href="index.html"><img class="img-fluid" src="images/logo.svg"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                     <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Coupans
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="coupans.html">Coupans</a>
                              <a class="dropdown-item" href="coupan-details.html">Coupan Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Deals
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="deals.html">Deals</a>
                              <a class="dropdown-item" href="deal-details.html">Deals Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Offers
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="offers.html">Offers</a>
                              <a class="dropdown-item" href="offer-details.html">Offers Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Stores <span class="badge badge-primary">HOT</span>
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="stores.html">Stores</a>
                              <a class="dropdown-item" href="store-details.html">Stores Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Restaurant
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="restaurant.html">Restaurant</a>
                              <a class="dropdown-item" href="restaurant-details.html">Restaurant Details</a>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pages <span class="badge badge-danger badge-top">NEW</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-lg p-4" aria-labelledby="navbarDropdown">
                              <div class="row no-gutters">
                                 <div class="col-12 col-lg-6">
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Account
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="profile.html">Profile</a>
                                    <a class="dropdown-item" href="enter-otp.html">Enter OTP</a>
                                    <a class="dropdown-item" href="sign-in.html">Sign In</a>
                                    <a class="dropdown-item" href="sign-up.html">Sign up</a>
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Extra Pages <span class="badge badge-success">HOT
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="earn.html">Earn</a>
                                    <a class="dropdown-item" href="membership.html">Membership</a>
                                    <a class="dropdown-item" href="rating.html">Rating</a>
                                    <a class="dropdown-item" href="referral.html">Referral</a>
                                 </div>
                                 <div class="col-12 col-lg-6">
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                       Company
                                    </h6>
                                    <!-- List -->
                                    <a class="dropdown-item" href="not-found.html">404 Not Found</a>
                                    <a class="dropdown-item" href="faq.html">FAQ</a>
                                    <a class="dropdown-item" href="terms.html">Terms</a>
                                    <a class="dropdown-item" href="privacy.html">Privacy</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                    <a class="dropdown-item" href="pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="maintence.html">Maintence</a>
                                    <a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
                                    <a class="dropdown-item" href="components.html">Components</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                     <span class="navbar-text">
                     <a target="_blank" href="#" class="btn btn-light-white btn-sm rounded-pill"><i class="icofont-cart"></i> Buy</a>
                     </span>
                  </div>
               </div>
            </nav>
         </section>
         <section class="inner-page-banner pt-5 pb-5">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 mx-auto text-center">
                     <h6 class="text-uppercase text-info mb-0">Sections</h6>
                     <h1 class="text-white mb-3">Offers</h1>
                     <h6 class="text-white-50 mb-5">Build a beautiful, modern website with flexible Bootstrap components built from scratch.</h6>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12 mt-4 mb-4">
                  <div class="page-title-h5 d-flex align-items-center">
                     <h5 class="my-0">All Product Deals</h5>
                     <div class="dropdown ml-auto">
                        <a class="btn btn-secondary dropdown-toggle btn-sm border-white-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by: <span class="text-theme">Popularity</span> &nbsp;&nbsp;
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                           <a class="dropdown-item" href="#">Percent</a>
                           <a class="dropdown-item" href="#">Amount</a>
                           <a class="dropdown-item" href="#">Newest</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-sm-4">
                  <div class="filters shadow-sm rounded">
                     <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
                        <h5 class="m-0">Filter By</h5>
                     </div>
                     <div class="filters-body">
                        <div id="accordion">
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingOne">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Brands <i class="icofont-thin-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb1">
                                       <label class="custom-control-label" for="cb1">Samsung </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb2">
                                       <label class="custom-control-label" for="cb2">Adidas</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb3">
                                       <label class="custom-control-label" for="cb3">Apple</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb4">
                                       <label class="custom-control-label" for="cb4">Nokia</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb3">
                                       <label class="custom-control-label" for="cb3">Apple</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb4">
                                       <label class="custom-control-label" for="cb4">Nokia</label>
                                    </div>
                                    <div class="mt-2"><a href="#" class="link">See all</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingTwo">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    Categories <i class="icofont-thin-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <form class="filters-search mb-3">
                                       <div class="form-group">
                                          <i class="icofont-search"></i>
                                          <input type="text" class="form-control" placeholder="Search Brand">
                                       </div>
                                    </form>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb6">
                                       <label class="custom-control-label" for="cb6">Flight </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb7">
                                       <label class="custom-control-label" for="cb7">Recharge</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb8">
                                       <label class="custom-control-label" for="cb8">Travel</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb9">
                                       <label class="custom-control-label" for="cb9">Food</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb10">
                                       <label class="custom-control-label" for="cb10"> Fashion</label>
                                    </div>
                                    <div class="mt-2"><a href="#" class="link">See all</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingCategory">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
                                    Stores <i class="icofont-thin-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapseCategory" class="collapse" aria-labelledby="headingCategory" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb1">
                                       <label class="custom-control-label" for="cb1">MakeMyTrip </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb2">
                                       <label class="custom-control-label" for="cb2">Dominos</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb3">
                                       <label class="custom-control-label" for="cb3">Amazon</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb4">
                                       <label class="custom-control-label" for="cb4">Myntra</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb5">
                                       <label class="custom-control-label" for="cb5">OYO Rooms</label>
                                    </div>
                                    <div class="mt-2"><a href="#" class="link">See all</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="filters-card p-4">
                              <div class="filters-card-header" id="headingOffer">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
                                    Type of Offer <i class="icofont-thin-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb6">
                                       <label class="custom-control-label" for="cb6">Flight <small class="text-danger float-right">200 deal</small></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb7">
                                       <label class="custom-control-label" for="cb7">Recharge <small class="text-danger float-right">34 deal</small></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb8">
                                       <label class="custom-control-label" for="cb8">Travel <small class="text-danger float-right">56 deal</small></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb9">
                                       <label class="custom-control-label" for="cb9">Food <small class="text-danger float-right">98 deal</small></label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="cb10">
                                       <label class="custom-control-label" for="cb10"> Fashion <small class="text-danger float-right">21 deal</small></label>
                                    </div>
                                    <div class="mt-2"><a href="#" class="link">See all</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-sm-8">
                  <div class="row">
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/1.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/1.png">
                                 <span>MakeMyTrip</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Get Flat 30% OFF on Payment Via RBL Bank</a></h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer mb-2">
                                 <a class="btn btn-orange float-right" href="#">Get Offer</a>
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/2.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/2.png">
                                 <span>Dominos</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting
                                    </a>
                                 </h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm bg-white h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/3.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/3.png">
                                 <span>Amazon</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Get Flat 30% OFF on Payment Via RBL Bank</a></h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-danger"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/4.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/4.png">
                                 <span>Myntra</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting
                                    </a>
                                 </h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/5.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/5.png">
                                 <span>Fanta</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Coupon Code: Get Flat 50% Off On Online Food</a></h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/6.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/6.png">
                                 <span>OYO Rooms</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">New User - Get Flat Rs.100 OFF + Rs.300 Licious Cash
                                    </a>
                                 </h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/7.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/7.png">
                                 <span>Dell</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Special Offer: Get Up to 50% Off On Web Hosting
                                    </a>
                                 </h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-info"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/8.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/8.png">
                                 <span>Goodle</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">New User - Get Flat Rs.100 OFF + Rs.300 Licious Cash
                                    </a>
                                 </h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-sm-6 mb-4">
                        <div class="custom-card shadow-sm h-100">
                           <div class="custom-card-image">
                              <a href="#">
                              <img class="img-fluid item-img" src="images/custom-card/9.png">
                              </a>
                              <div class="button-g-btn button-g-btn-up">
                                 <img class="img-fluid" src="images/brand/9.png">
                                 <span>Askbootstrap</span>
                              </div>
                           </div>
                           <div class="p-3 pt-4">
                              <div class="custom-card-body">
                                 <h6 class="mb-3"><a class="text-black" href="#">Online Food Offer: Get Up To 50% Off On Online Food</a></h6>
                                 <p class="text-gray"><i class="icofont-clock-time"></i> Ends in 18 days</p>
                              </div>
                              <div class="custom-card-footer d-flex align-items-center
                                 ">
                                 <span class="text-primary"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-orange ml-auto" href="#">Get Offer</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-12 text-center">
                        <a href="#" class="btn btn-light btn-lg show-more-btn">Show more</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="footer border-top section-padding">
         <div class="container">
            <div class="row">
               <div class="col-xl-2 col-sm-6">
                  <div class="navbar-brand pt-0">
                     <img class="img-fluid" src="images/logo.svg">
                  </div>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>PRODUCTS</h6>
                  <ul>
                     <li><a href="#">Page Builder</a></li>
                     <li><a href="#">UI Kit</a></li>
                     <li><a href="#">Styleguide</a></li>
                     <li><a href="#">Documentation</a></li>
                     <li><a href="#">Changelog</a></li>
                  </ul>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>SERVICES</h6>
                  <ul>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">Contact</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Pagebuilder</a></li>
                  </ul>
               </div>
               <div class="col-xl-2 col-sm-6">
                  <h6>CONNECT</h6>
                  <ul>
                     <li><a href="#">Terms</a></li>
                     <li><a href="#">Privacy</a></li>
                     <li><a href="#">Page Builder</a></li>
                     <li><a href="#">UI Kit</a></li>
                     <li><a href="#">Styleguide</a></li>
                     <li><a href="#">Documentation</a></li>
                     <li><a href="#">Support</a></li>
                  </ul>
               </div>
               <div class="col-xl-4 col-sm-6">
                  <h6>Subscribe to our Newsletter</h6>
                  <form class="form-inline newsletter-form mb-1">
                     <input type="text" class="form-control mr-sm-2" placeholder="Enter your email">
                     <button type="submit" class="btn btn-primary">Subscribe</button>
                  </form>
                  <small><a href="#">Register now to get updates on <span class="text-info">Offers and Coupons</span></a></small>
                  <div class="app mt-4 pt-2">
                     <h6>DOWNLOAD APP</h6>
                     <a href="#">
                     <img class="img-fluid" src="images/google.png">
                     </a>
                     <a href="#">
                     <img class="img-fluid" src="images/apple.png">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="footer-bottom-search bg-dark section-padding">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="search-links">
                     <div class="content-wrapper">
                        <div class="cat-links">
                           <span class="cat-header">TRAVEL</span>
                           <a href="#makemytrip"> Makemytrip Coupons <span>|</span></a>
                           <a href="#oyorooms"> OYO Rooms Coupons <span>|</span></a>
                           <a href="#happyeasygo"> HappyEasyGo Coupons <span>|</span></a>
                           <a href="#cleartrip"> Cleartrip Coupons <span>|</span></a>
                           <a href="#redbus"> redBus Coupons <span>|</span></a>
                           <a href="#goibibo"> Goibibo Coupons <span>|</span></a>
                           <a href="#uber"> Uber Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">Fashion</span>
                           <a href="#zivame"> Zivame Coupons <span>|</span></a>
                           <a href="#jabong"> Jabong Coupons <span>|</span></a>
                           <a href="#clovia"> Clovia Coupons <span>|</span></a>
                           <a href="#ajio"> AJIO Coupons <span>|</span></a>
                           <a href="#nnnow"> NNNOW Coupons <span>|</span></a>
                           <a href="#myntra"> Myntra Coupons <span>|</span></a>
                           <a href="#shoppersstop"> Shoppers Stop Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">Recharge</span>
                           <a href="#paytm"> Paytm Offers <span>|</span></a>
                           <a href="#phonepe"> PhonePe Offers <span>|</span></a>
                           <a href="#freecharge"> FreeCharge Coupons <span>|</span></a>
                           <a href="#mobikwik"> MobiKwik Offers <span>|</span></a>
                           <a href="#amazonpay"> Amazon Pay Coupons <span>|</span></a>
                           <a href="#googlepay"> Google Pay Offers </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">MOBILES &amp; TABLETS</span>
                           <a href="#flipkart"> Flipkart Offers <span>|</span></a>
                           <a href="#amazon"> Amazon Offers <span>|</span></a>
                           <a href="#paytmmall"> Paytm Mall Coupons <span>|</span></a>
                           <a href="#tatacliq"> TataCliQ Coupons <span>|</span></a>
                           <a href="#snapdeal"> Snapdeal Coupons <span>|</span></a>
                           <a href="#samsung_eStore"> Samsung Coupons <span>|</span></a>
                           <a href="#shopclues"> ShopClues Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">COMPUTERS, LAPTOPS &amp; GAMING</span>
                           <a href="#samsung_eStore"> Samsung Coupons <span>|</span></a>
                           <a href="#dell"> Dell India Coupons <span>|</span></a>
                           <a href="#lenovo"> Lenovo Coupons <span>|</span></a>
                           <a href="#hpshopping"> HP Official eStore Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">FOOD &amp; DINING</span>
                           <a href="#pizzahut"> Pizza Hut Offers <span>|</span></a>
                           <a href="#dominos"> Domino's Coupons <span>|</span></a>
                           <a href="#mcdonalds"> McDonald's Coupons <span>|</span></a>
                           <a href="#swiggy"> Swiggy Coupons <span>|</span></a>
                           <a href="#kfc"> KFC Coupons <span>|</span></a>
                           <a href="#zomato"> Zomato Coupons <span>|</span></a>
                           <a href="#foodpanda"> Foodpanda Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">BEAUTY &amp; HEALTH</span>
                           <a href="#medlife"> Medlife Coupons <span>|</span></a>
                           <a href="#1mg"> 1MG Coupons <span>|</span></a>
                           <a href="#netmeds"> Netmeds Coupons <span>|</span></a>
                           <a href="#nykaa"> Nykaa Coupons <span>|</span></a>
                           <a href="#apollopharmacy"> Apollo Pharmacy <span>|</span></a>
                           <a href="#healthkart"> HealthKart Coupons <span>|</span></a>
                           <a href="#pharmeasy"> PharmEasy Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">HOME FURNISHING &amp; DECOR</span>
                           <a href="#pepperfry"> Pepperfry Coupons <span>|</span></a>
                           <a href="#rentomojo"> Rentomojo Coupons <span>|</span></a>
                           <a href="#urbanladder"> Urban Ladder Coupons <span>|</span></a>
                           <a href="#homecentre"> Home Centre Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">FLOWERS, GIFTS &amp; JEWELLERY</span>
                           <a href="#fnp"> Ferns N Petals Coupons <span>|</span></a>
                           <a href="#indiangiftsportal"> Indian Gifts Portal Coupons <span>|</span></a>
                           <a href="#archies"> Archies Coupons <span>|</span></a>
                           <a href="#floweraura"> FlowerAura Coupons <span>|</span></a>
                           <a href="#giftcart"> Giftcart </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">GROCERY</span>
                           <a href="#bigbasket"> Bigbasket Coupons <span>|</span></a>
                           <a href="#grofers"> Grofers Offers <span>|</span></a>
                           <a href="#freshtohome"> FreshtoHome Coupons </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">SPECIAL COLLECTIONS</span>
                           <a href="#exclusive-coupons-offers"> Exclusive Coupons and Offers <span>|</span></a>
                           <a href="#top-offers"> Top Coupons and Offers <span>|</span></a>
                           <a href="#buy-1-get-1-free-offers"> Buy 1 Get 1 Free <span>|</span></a>
                           <a href="#summer-offers"> Summer <span>|</span></a>
                           <a href="#GOT-merchandise-offers"> GOT Merchandise </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">WALLET OFFERS:</span>
                           <a href="#amazon-pay-offers"> Amazon Pay <span>|</span></a>
                           <a href="#amazon-pay-offers"> Paypal <span>|</span></a>
                           <a href="#paytm-offers"> Paytm <span>|</span></a>
                           <a href="#mobikwik-offers"> Mobikwik <span>|</span></a>
                           <a href="#payzapp-offers"> PayZapp </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">BANK OFFERS</span>
                           <a href="#hdfc-bank-offers"> HDFC Bank <span>|</span></a>
                           <a href="#yes-bank-offers"> Yes Bank <span>|</span></a>
                           <a href="#icici-bank-offers"> ICICI Bank <span>|</span></a>
                           <a href="#sbi-bank-offers"> SBI Bank <span>|</span></a>
                           <a href="#axis-bank-offers"> Axis Bank </a>
                        </div>
                        <div class="cat-links">
                           <span class="cat-header">EVENT OFFERS</span>
                           <a href="#valentines-day-offers"> Valentine's Day Offers <span>|</span></a>
                           <a href="#christmas-offers"> Christmas Offers <span>|</span></a>
                           <a href="#end-of-season-sale-offers"> End of Season Sale Coupons and Offers <span>|</span></a>
                           <a href="#diwali-offers"> Diwali Coupons and Offers <span>|</span></a>
                           <a href="#flipkart-big-billion-days-offers"> Flipkart Big Billion Days Coupons and Offers </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="py-4">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="d-flex align-items-center justify-content-between small">
                     <p class="m-0">Copyright © Your Website 2020</p>
                     <p class="m-0">
                        <a href="#">About Us</a>
                        &nbsp; · &nbsp;
                        <a href="#">Privacy Policy</a>
                        &nbsp; · &nbsp;
                        <a href="#">Terms &amp; Conditions</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- select2 Js -->
      <script src="vendor/select2/js/select2.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom -->
      <script src="js/custom.js"></script>
   </body>
</html>
