@{
    ViewData["Title"] = "Anasayfa";
}
<link rel="stylesheet" type="text/css" href="~/css/team.css">
<style>
    .team-member {
        position: absolute;
        bottom: 0;
        margin-left: 20%;
        background-color: white;
        padding: 20px;
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: -61px !important;
    }
    .team-member-image {
        width: 100%;
        max-height: 350px;
    }

    .social-icons.row {
        margin-bottom: -20px !important;
        margin-left: 1px;
        /* margin-top: 7px !important; */
        display: flex;
        justify-content: space-between;
    }

        .social-icons.row a {
            display: inline-block;
            height:50px;
            width:50px;
        }

            .social-icons.row a i {
                color: white; /* İkon rengi */
                background-color: gray; /* İkon arka plan rengi */
                padding: 10px; /* İkonun etrafındaki boşluk */
                border-radius: 50%; /* Yuvarlatılmış köşeler */
            }

            @@media (max-width: 1000px) {
                .banner{
                    display:none;
                }

            }


</style>
    <img src="~/images/team/aaaaa.jpg" class="banner" width="100%" />
<div class="rs-blog inner modify gray-bg pt-80 pb-90 md-pt-80 md-pb-50">
    <div class="">
        <div class="container">
            <h3 style="text-align: center">Ekibimiz</h3>
            <div class="row team-section">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="pCard_card">
                        <div class="pCard_up" style="background-image: url('/images/team/1.jpg')">
                            <div class="pCard_text">
                                <h2>Tayfun ÜZÜLMEZ</h2>
                                <p> Kurucu/Avukat</p>
                            </div>
                        </div>
                        <div class="pCard_down">
                            <div>
                                <p><a target="_blank" href="https://www.linkedin.com/in/av-tayfun-%C3%BCz%C3%BClmez-986800189?originalSubdomain=tr"><i class="fa fa-linkedin"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="https://www.facebook.com/tayfun.uzulmz/"><i class="fa fa-facebook"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="http://www.instagram.com/avtayfunuzulmez"><i class="fa fa-instagram"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="pCard_card">
                        <div class="pCard_up" style="background-image: url('/images/team/2.jpg')">
                            <div class="pCard_text">
                                <h2>Fevzi DOĞAN</h2>
                                <p> Kurucu/Avukat</p>
                            </div>
                        </div>
                        <div class="pCard_down">
                            <div>
                                <p><a target="_blank" href="https://www.linkedin.com/in/fevzi-d-b9a494146/"><i class="fa fa-linkedin"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="http://www.instagram.com/av.fevzidogan"><i class="fa fa-instagram"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="pCard_card">
                        <div class="pCard_up" style="background-image: url('/images/team/3.jpg')">
                            <div class="pCard_text">
                                <h2>İlyas ÇELİK</h2>
                                <p> Kurucu/Avukat</p>
                            </div>
                        </div>
                        <div class="pCard_down">
                   
                            <div>
                                <p><a target="_blank" href="https://www.linkedin.com/in/ilyas-%C3%A7elik/"><i class="fa fa-linkedin"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="https://www.facebook.com/profile.php?id=61554108277208"><i class="fa fa-facebook"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="http://www.instagram.com/ilyass_clk"><i class="fa fa-instagram"></i></a></p>
                            </div>
                       
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="pCard_card" style="height:425px !important">
                        <div class="pCard_up" style="background-image: url('/images/team/4.jpg')">
                            <div class="pCard_text">
                                <h2>Ömer Faruk GÖKTAŞ</h2>
                                <p>Avukat</p>
                            </div>
                        </div>
@*                        <div class="pCard_down">

                            <div>
                                <p><a target="_blank" href="https://www.linkedin.com/in/ilyas-%C3%A7elik/"><i class="fa fa-linkedin"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="https://www.facebook.com/profile.php?id=61554108277208"><i class="fa fa-facebook"></i></a></p>
                            </div>
                            <div>
                                <p><a target="_blank" href="http://www.instagram.com/ilyass_clk"><i class="fa fa-instagram"></i></a></p>
                            </div>

                        </div>*@
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $(".our-team").closest("li").siblings().removeClass("current-menu-item");
            $(".our-team").closest("li").addClass("current-menu-item");

            $('html, body').animate({ scrollTop: 0 }, 500);
        })
        $(document).ready(() => {
            $("title").html("CDU+Partners Anasayfa");
        })
    </script>

}


